*{
  margin:0;
  padding: 0;
}

html{
  width: 1024px;
  height: 755px;
  background-color: #ffd83d;
  font-family: 'Roboto', sans-serif;
}

.big-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}
.box{
  padding: 10px;
}

.button-div{
  position: relative;
  width: 414px;
}
.button{
  position: absolute;
  display: inline-block;
}
p{
  text-align: center;
}
.box>h3{
  text-align: center;
}

div#this{
  margin: 50px 300px;
}
div#that{
  margin: 50px 725px;
}
h1{
  margin: 15px 15px;
}
.main-container>p{
  margin: 15px 15px;
}

h1, p{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

img{
  display: block;
  max-width: 300px;
  margin: 15px auto;
}

.items{
  list-style: none;
  text-align: left;
  overflow-wrap: break-word;
  margin: 10px 15px;
}

