*{
  margin:0;
  padding: 0;
}

.main-container{
  width: 1024px;
  height: 100%;
  background-color: #ffd83d;
  font-family: 'Roboto', sans-serif;
}

.big-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h1 p{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

img{
  max-width: 300px;
}

li{
  list-style: none;
}